@using FirearmTracker.Core.Models
@inject NavigationManager Navigation
<AuthorizeView>
    <Authorized>
        <a href="/profile" class="text-decoration-none p-3 d-block" style="border-bottom: 1px solid rgba(255,255,255,.1);">
            <div class="d-flex align-items-center">
                <img src="/avatar/current?t=@DateTime.UtcNow.Ticks" alt="Avatar" class="me-2" style="width: 48px; height: 48px; object-fit: cover;" />
                <span class="text-white">@context.User.Identity?.Name</span>
            </div>
        </a>
    </Authorized>
</AuthorizeView>
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid" style="padding: 15px; height: 190px; display: flex; justify-content: center; align-items: center;">
        <img src="/images/firearmtracker-icon-480x480.svg" alt="FirearmTracker Logo" height="160" width="160" />
    </div>
</div>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Name="home" /> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="firearms">
                <Icon Name="firearms" /> Firearms
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="accessories">
                <Icon Name="accessories" /> Accessories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ammunition">
                <Icon Name="ammunition" /> Ammunition
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <Icon Name="reports" /> Reports
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="Owner,Administrator">
                <NavLink class="nav-link" href="admin">
                    <Icon Name="administration" /> Administration
                </NavLink>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="logout">
                        <Icon Name="exit" /> Logout
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

